.navigation-bar
  %ul
    %li
      %a{href: relativize('http://dale.emery.name/')} dale
    %li
      %a{href: relativize('http://dale.emery.name/songs/')} songs
    %li
      %a{href: relativize('http://dale.emery.name/genealogy/')} dna
    %li
      %a{href: relativize('http://trot.dale.emery.name/')} blog
    %li
      %a{href: relativize('http://dalewriting.dale.emery.name/')} writing
    %li
      %a{href: relativize('http://dalefiction.dale.emery.name/')} fiction
    %li
      %a{href: relativize('http://dhemery.com/')} biz
