.post-reference-list
  - page_articles.each_with_index do |article, i|
    %section
      %header
        %time{:datetime => article.date.strftime('%Y-%m-%d')}
          = article.date.strftime('%B %e, %Y')
        %h1
          = link_to article.title, article
