---
pageable: true
layout: page
---
- pagination_data = { :next_title => 'Older', :next_page => next_page, :prev_title => 'Newer', :prev_page => prev_page }
= partial "layouts/partials/pagination", :locals => pagination_data
= partial "layouts/partials/post-list"
= partial "layouts/partials/pagination", :locals => pagination_data
